* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 ;
  font-style: normal;
}

body{
  background-color: hsl(0,0%,8%);
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-height: 100vh;
  color: hsl(0,0%,100%);
  font-size: 14px;
  font-family: "Inter", sans-serif; 
}

main{
  background-color: hsl(0,0%,12%);
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  border-radius: 10px;
  font-family: "Inter", sans-serif; 
}

main img{
  border-radius: 50%;
  max-width: 40%;
  opacity: 0;
  animation: 5s linear 2s 1 forwards image;
}

 @keyframes image {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% {  opacity: 1; }
} 

.flex-item-2{
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
}
.flex-item-2 p {
  color: hsl(75,94%,57%);
  font-size: 13px;
}

main a{
  display: block;
  width: 80%;
  border-radius: 5px;
  background-color: hsl(0,0%,20%);
  padding: 13px;
  text-align: center;
  color: hsl(0,0%,100%);
  text-decoration: none;
 transition: all 5s;
}

main a:hover{
  opacity: .7;
  background-color: hsl(0,0%,10%);
  transform: scaleY(1.5) skew(10deg) rotateX(15deg);
}

.attribution{
  font-size: 10px;
  margin-top: 15px;
}
.attribution a{
  all: initial;
  font-size: 10px;
  color: white;
  text-decoration: underline blue ;
}




